{% extends 'base.html.twig' %}

{% block title %}Hello VueArticleController!{% endblock %}

{% block body %}
{{ article.titreArticle}}
<br>
{{ article.contenuArticle}}
<button><a href="/">retour</a></button>
{% endblock %}
